
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Baloo 2', cursive; */
  color: #FFF;
  font-weight: 500;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #FFF;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

p,
li,
h4 {
  color: grey;
}

img {
  width: 100%;
}

ul {
  margin: 0;
}


/* =======    main wrapper    ======= */
.primary-wrapper {
  display: flex;
  background-color: #000;
  height: calc(100vh - 120px);  /*120px altezza del footer*/
  overflow: hidden;
}


/* =======    navigation column    ======= */
.nav-column {
  background-color: rgba(0, 0, 0, .5);
  padding: 0 20px;
  height: 100%;
  width: 310px;
}

.nav-column li {
  padding: 7px;
}

.logo {
  width: 130px;
  padding: 20px 0;
}

.logo-piccolo {
  display: none;
}

.home-menu li:hover {
  border-left: 3px solid #35e721;
  color: #FFF;
}


/* =======    playlist    ======= */
.playlists-wrap {
  padding: 20px 0;
  height: calc(100% - 294px);
  color: grey;
  overflow: hidden;
}

.fa-plus-square {
  font-size: 3em;
  padding-right: 5px;
  vertical-align: sub;
}

.playlists {
  overflow: auto;
  height: 80%;
}


/* =======    user sidebar    ======= */
.user img {
  width: 30px;
  border-radius: 100%;
}


/* =======    ::after testo display:none
su piccoli dispositivi    ======= */
[class*="af_"]::after {
  font: inherit;
  font-weight: 400;
}

.af_cerca::after {
  content: " Cerca";
}

.af_home::after {
  content: " Home";
}

.af_libreria::after {
  content: " La tua libreria";
}

.af_installa::after {
  content: " Installa App";
}

.af_username::after {
  content: "  Querelle";
  color: #FFF;
}


/* =======    main container    ======= */
.main-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex-basis: calc(100vw - 310px);
}


/* =======    upgrade bar    ======= */
.upgrade-bar {
  position: fixed;
  top: 0;
  display: flex;
  width: calc(100% - 310px);
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
}

.upgrade-bar button {
  padding: 8px 20px;
  border: 1px solid #FFF;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: .8em;
}


/* =======    category    ======= */
.category-music {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  overflow: auto;
  background-color: #141922;
  padding-top: 80px;
  width: 100%;
}

.category-music h2 {
  padding-left: 35px;
}

.category-music ul {
  margin: 0;
}

.nav-category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-basis: calc(100vw - 310px);
  text-transform: uppercase;
}

.nav-category li {
  padding: 3px 4px;
  border-bottom: 3px solid #141922;
}

.nav-category li:hover {
  border-bottom: 3px solid #35e721;
  color: #FFF;
}

.play-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
}

.play-items li {
  margin: 18px 14px;
}

.thumbnail {
  position: relative;
  color: rgba(0, 0, 0, 0);
}

.overlay:hover {
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
}

.overlay {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 2;
  border-radius: inherit;
}

.overlay .fa-play-circle{
  color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.thumbnail img {
  width: 200px;
  height: 200px;
  position: relative;
}

.coll-far img {
  border-radius: inherit;
}

.coll-far .thumbnail {
  border-radius: 100%;
}


/* secondary */
.secondary-wrapper {
  display: flex;
  width: 100vw;
  height: 120px;;
  background-color: #282828;
}

.track-infos {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: calc((100vw / 3) * 1);
}

.track-infos img {
  width: 80px;
  height: 80px;
  margin: 0 8px 0 15px;
}

.reference{
  margin-right: 30px;
}

.player {
  display: flex;
  flex-flow: column wrap;
  flex-basis: calc((100vw / 3) * 1);
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 60%;
}

.bookmark {
  display: flex;
  flex-basis: 50px;
  justify-content: space-between;
}


@media screen and (max-width: 990px) {
  [class*="af_"]::after {
    content: "";
  }
  .playlists-wrap,
  .logo-grande,
  .nav-column hr {
    display: none;
  }
  .logo-piccolo {
    display: block;
  }

  .logo,
  .user img {
    width: 20px;
    margin-left: -2px;
  }

  .nav-column {
    width: 50px;
    padding: 10px 15px;
  }

  .upgrade-bar,
  .main-container {
    flex-basis: calc(100vw - 50px);
  }
}

/* =======    THE END    ======= */
