/* =======    ELEMENTI GENERALI    ======= */
body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-weight: 500;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #FFF;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

p,
li,
h4 {
  color: grey;
  font-size: 0.9em;
}

img {
  width: 100%;
}

ul {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}


/* =======    classi generiche    ======= */
.unstyled-list {
  list-style: none;
}

.inline-list > li {
  display: inline-block;
  padding-right: 8px;
}

.inline-list {
  list-style: none;
}


/* =======    top wrapper    ======= */
.top-wrapper {
  display: flex;
  background-color: #000;
  height: calc(100vh - 100px);  /*100px altezza del footer*/
  overflow: hidden;
}


/* =======    top navigation column    ======= */
.navigation-column {
  background-color: rgba(0, 0, 0, .5);
  padding: 0 20px;
  height: 100%;
  width: 310px;
}

.top-column {
  height: calc(100vh - 200px);
}

.navigation-column li {
  padding: 7px;
}

.logo {
  width: 130px;
  padding: 20px 0;
}

.logo-piccolo {
  display: none;
}

.home-menu li:hover {
  border-left: 3px solid #35e721;
}

.navigation-column li:hover,
.user p:hover,
.plus-wraper:hover {
  color: #FFF;
}
.plus-wraper:hover .plus-item {
  background-color: #FFF;
}


/* =======    playlist    ======= */
.playlists-container {
  padding: 20px 0;
  height: calc(100% - 200px);
  color: grey;
  overflow: hidden;
}

.fa-plus {
  display: inline-block;
  font-size: 3em;
  vertical-align: middle;
}
.plus-item {
  background-color: grey;
  padding: 10px 12px;
  display: inline-block;
  color: #000;
  margin: 15px 15px 15px 0;
}

.personal-playlists {
  overflow: auto;
  height: 60%;
}


/* =======    bottom navigation column    ======= */
.user img {
  width: 30px;
  border-radius: 100%;
}


/* =======    ::after display:none
su piccoli dispositivi    ======= */
[class*="after_"]::after {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.after_cerca::after {
  content: " Cerca";
}

.after_home::after {
  content: " Home";
}

.after_libreria::after {
  content: " La tua libreria";
}

.after_installa::after {
  content: " Installa App";
}

.after_username::after {
  content: "  Querelle";
  color: #FFF;
}


/* =======    main section    ======= */
.main-section {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: calc(100vw - 310px);
}


/* =======    upgrade bar    ======= */
.upgrade-bar {
  position: fixed;
  top: 0;
  display: flex;
  width: calc(100% - 310px);
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  z-index: 1;
}

.upgrade-bar button {
  font-size: .8em;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 1px solid #FFF;
  border-radius: 100px;
}

.upgrade-bar button:hover {
  padding: 10px 22px;
}


/* =======    categories    ======= */
.categories {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  overflow: auto;
  background-color: #141922;
  padding-top: 80px;
  width: 100%;
}

.categories ul {
  margin: 0;
}


/* =======    collection    ======= */
.description {
  padding-left: 35px;
}

.description h3 {
  color: grey;
}

.nav-selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-basis: calc(100vw - 310px);
  text-transform: uppercase;
}

.nav-selector li {
  padding: 3px 4px;
  border-bottom: 3px solid #141922;
}

.nav-selector li:hover {
  border-bottom: 3px solid #35e721;
  color: #FFF;
}

.collection-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.collection-items li {
  width: calc((100% / 6) * 1);
  margin: 18px 14px;
}

.thumbnail {
  color: rgba(0, 0, 0, 0);
  position: relative;
  max-width: 200px;
  max-height: 200px;
}

.overlay:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, .5);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.overlay .fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  color: inherit;
  transform: translate(-50%, -50%);
}

.far-away img {
  border-radius: inherit;
}

.far-away .thumbnail {
  border-radius: 100%;
}


/* =======    bottom    ======= */
.bottom-wrapper {
  display: flex;
  width: 100vw;
  height: 100px;;
  background-color: #282828;
}

.track-playing {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: calc((100vw / 3) * 1);
}

.track-playing img {
  width: 80px;
  height: 80px;
  margin: 0 8px 0 15px;
}

.reference{
  margin-right: 30px;
}

.player {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: calc((100vw / 3) * 1);
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 60%;
  align-items: baseline;
}

.bookmarks {
  display: flex;
  flex-basis: 50px;
  justify-content: space-between;
}

.bar-wrapper {
  width: 100%;
}

.bar-wrapper p {
  text-align: center;
  padding-top: 6px;
  width: 100%;
}

.green-bar {
  display: inline-block;
  height: 0;
  border: 2px solid #FFF;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
}

.grey-bar {
  display: inline-block;
  width: 70%;
  height: 0;
  border: 2px solid grey;
  vertical-align: middle;
  margin-right: 10px;
}

.bar-wrapper .green-bar {
  width: 10%;
}

.bar-wrapper .grey-bar {
  width: 70%;
}

.fa-play-circle {
  font-size: 2em;
}

.volume {
  display: flex;
  flex-basis: calc((100vw / 3) * 1);
}

.volume-set {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.green-bar {
  width: 10%;
}

.grey-bar {
  width: 60%;
}

.volume-set .fas {
  margin-right: 10px;
}

.bar-container {
  width: 20%;
}

.pallino {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.bar-container:hover .pallino {
  background-color: rgba(255, 255, 255, 1);
}

.bar-container:hover .green-bar {
  border-color: rgb(96, 245, 66);
}



/* =======    screen sm    ======= */
@media screen and (max-width: 990px) {
  [class*="after_"]::after {
    content: "";
  }

  .playlists-container,
  .logo-grande,
  .navigation-column hr {
    display: none;
  }

  .logo,
  .user img {
    width: 20px;
    margin-left: -2px;
  }

  .logo-piccolo {
    display: block;
  }

  .navigation-column {
    width: 50px;
    padding: 10px 15px;
  }

  .upgrade-bar,
  .main-section {
    width: calc(100vw - 50px);
  }

  .home-menu li {
    padding-left: 0;
  }

  .play-items li {
    margin: 18px 14px;
    width: calc((100% / 3) * 1);
  }

  .top-column {
    height: calc(100vh - 200px);
  }

  .bookmarks {
    display: none;
  }
}


/* =======    screen md    ======= */
@media screen and (max-width: 1199px) {
  .play-items li {
    margin: 18px 14px;
    width: calc((100% / 4) * 1);
  }
}

/* =======    THE END    ======= */
